/* You can add global styles to this file, and also import other style files */
.rouge,
.list-group-item-action.rouge,
.list-group-item-action:focus.rouge,
.list-group-item-action:hover.rouge, .form-control.rouge, .form-control:focus.rouge { color: crimson; border: solid 1px crimson;}

.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
  position: absolute;
  width: auto;
  bottom: 10px;
  right: 10px;
  margin-top: 0;
}
